<html>
	<head>
		<title>Raspberry PI Tank Control</title>
		<script type="text/javascript">
			document.onkeydown = khandle

			function go(action) {
				var req = new XMLHttpRequest();
				req.open('GET', '/go?action=' + action, true);
				req.send();
			}

			function khandle(e) {
				var ch = e.keyCode;
				if (ch == 87 ) { 
					go('forward'); 
				} else if (ch == 83)  {
					go('backward');
				} else if (ch == 65) {
					go('left');
				} else if (ch == 68) {
					go('right');
				} else if (ch == 219) {
					go('tower_left');
				} else if (ch == 221) {
					go('tower_right');
				} else { go('stop');}
			}

		</script>
	</head>
	<body>
		<pre>
Hello, <%= source_ip %>!
You are visiting page <%= path %> with params <%= params %>
		</pre>

		<table>
			<tr>
				<td/>
				<td>
					<input type='button' value='Forward' onclick='javascript:go("forward")' />
				</td>
				<td/>
			</tr>
			<tr>
				<td>
					<input type='button' value='Left' onclick='javascript:go("left")' />
				</td>
				<td>
					<input type='button' value='Stop' onclick='javascript:go("stop")' />
				</td>
				<td>
					<input type='button' value='Right' onclick='javascript:go("right")' />
				</td>
			</tr>
			<tr>
				<td/>
				<td>
					<input type='button' value='Backward' onclick='javascript:go("backward")' />
				</td>
				<td/>
			</tr>
		</table>
	</body>
</html>

