<html>
	<head><title>Raspberry PI Tank Control</title></head>
	<body>
		Hello, <%= source_ip %>!<br/>
		You are visiting page <%= path %> with params <%= params %><br/>
		<a href="/another_page?with_another=params&other_things">Click Me</a>.
	</body>
</html>

