<html>
	<head>
		<title>Raspberry PI Tank Control</title>
	</head>
	<body style="font-family: monospace">
		<p>Client IP: <%= source_ip %>.</p>
		<div id='warning' style='color: red'></div>

		<div>
			<a href="/?res=960x720">960x720</a> |
			<a href="/?res=640x480">640x480</a> |
			<a href="/?res=320x240">320x240</a>
		</div>

		<img src='http://<%= request_host %>:8280/?action=stream'>

		<table>
			<tr>
				<td/>
				<td>
					<input type='button' value='Forward' onclick='javascript:go("forward")' />
				</td>
				<td/>
			</tr>
			<tr>
				<td>
					<input type='button' value='Left' onclick='javascript:go("left")' />
				</td>
				<td>
					<input type='button' value='Stop' onclick='javascript:go("stop")' />
				</td>
				<td>
					<input type='button' value='Right' onclick='javascript:go("right")' />
				</td>
			</tr>
			<tr>
				<td/>
				<td>
					<input type='button' value='Backward' onclick='javascript:go("backward")' />
				</td>
				<td/>
			</tr>
		</table>

		<script type="text/javascript">
			document.onkeydown = key_down;
			document.onkeyup = key_up;

			var socket = null;

			function warn(text) {
				document.getElementById('warning').innerText = text;
			}

			function go(action) {
				if (socket) {
					socket.send(action);
				} else {
					warn(null);
					socket = new WebSocket('ws://<%= request_host_with_port %>/controls');

					socket.onopen = function(e) {
						console.log('WebSocket: opened');
						socket.send(action);
					}
					socket.onclose = function(e) {
						warn('WebSocket: closed (' + e.code + ' ' + e.reason + ')');
						socket = null;
					}
					socket.onmessage = function(e) {
						console.log('WebSocket: message ' + e.data);
					}
					socket.onerror = function(e) {
						warn('WebSocket: error');
					}
				}
			}

			function key_down(e) {
				var ch = e.keyCode;
				switch (e.keyCode) {
				case 87:
					return go('forward');
				case 83:
					return go('backward');
				case 65:
					return go('left');
				case 68:
					return go('right');
				case 219:
					return go('tower_left');
				case 221:
					return go('tower_right');
				}
			}

			function key_up() {
				go('stop');
			}
		</script>
	</body>
</html>

